[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/VogelPapaFinn/MX5-HybridDash-espidf.git
	branch = release/v5.4
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.2